.discount {
  padding: 90px 0px 115px 0px;
  @include laptop-min {
    padding: 70px 0px;
  }
  @include tablet {
    padding: 50px 0px;
  }
  &__tag {
    margin: 0px auto 40px auto;
    @include tablet {
      margin-left: 0;
    }
  }
  &__title {
    text-align: center;
    margin-bottom: 20px;
  }
  &__content {
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    font-weight: 300;
    margin: 0px 0px 100px 0px;
    @include tablet {
      font-size: 18px;
      line-height: 28px;
      margin-bottom: 40px;
    }
  }
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 145px;
    row-gap: 60px;
    @include laptop {
      gap: 60px;
    }
    @include laptop-min {
      gap: 24px;
      row-gap: 35px;
    }
    @include tablet {
      grid-template-columns: repeat(6, 1fr);
    }
  }
  &__item {
    display: flex;
    align-items: end;
    justify-content: end;
    position: relative;
    grid-column: 2 span;
    min-height: 230px;
    @include laptop-min {
      padding-top: 45px;
      min-height: auto;
    }
    @include tablet {
      grid-column: 3 span;
    }
  }
  &__item-visits {
    position: absolute;
    left: 0;
    top: 30px;
    white-space: nowrap;
    font-size: 16px;
    line-height: 10px;
    font-weight: 300;
    writing-mode: sideways-lr;
    @include laptop-min {
      top: 0;
      font-size: 14px;
    }
  }
  &__item-value {
    text-align: right;
    font-size: 114px;
    @include laptop-middle {
      font-size: 96px;
    }
    @include laptop-min {
      font-size: 76px;
    }
  }
  &__btn {
    max-width: 620px;
    width: 100%;
    font-weight: 300;
    min-height: 74px;
    padding: 15px !important;
    margin: 100px auto 0px auto;
    @include tablet {
      margin-top: 50px;
    }
  }
  &__contacts {
    @include flex-center;
    width: 100%;
    gap: 50px;
    margin-top: 70px;
    @include tablet {
      flex-wrap: wrap;
      gap: 30px;
      margin: 40px auto 0px auto;
    }
  }
  &__address {
    font-size: 16px;
    font-weight: 300;
    line-height: 11px;
    opacity: 0.7;
    margin: 0px 0px 10px 0px;
  }
  &__tel {
    font-size: 36px;
    font-weight: 300;
    line-height: 32px;
    color: var(--dark-red);
    transition: opacity 0.2s ease;
    @include hover {
      opacity: 0.5;
    }
  }
  &__contacts-buttons {
    display: flex;
    gap: 24px;
    @include tablet {
      width: 100%;
    }
  }
  &__contacts-btn {
    padding: 10px;
    flex: 0 1 125px;
    flex-shrink: 0;
    min-height: 55px;

    font-size: 14px;
    font-weight: 300;
    line-height: 10px;
    text-transform: none;
    @include tablet {
      flex: 1;
    }
  }
}
