.popular-price {
  flex: 1;
  overflow: hidden;
  padding-bottom: 50px;
  &._offset {
    display: flex;
    align-items: center;
    padding: 50px 0px;
  }
  @include laptop-min {
    flex: none;
    width: 100%;
    padding-bottom: 40px;
  }
  &__container {
    @include width(645px, 30px);
    @include laptop-min {
      max-width: none;
    }
  }
  &__nav {
    display: flex;
    gap: 70px;
    padding: 24px 16px;
    border-bottom: 1px solid var(--dark);
    margin-bottom: 90px;
    @include laptop {
      margin-bottom: 50px;
    }
    @include tablet {
      gap: 25px;
    }
  }
  &__tab-btn {
    color: var(--light);
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;

    transition: color 0.2s ease;

    &:first-child {
      margin-left: auto;
    }
    &:last-child {
      margin-right: auto;
    }
    @include hover {
      color: var(--dark);
    }
    &._active {
      color: var(--dark);
    }
  }
  &__sect-tag {
    margin-bottom: 40px;
  }
  &__title {
    margin: 0px 0px 70px 0px;
    @include laptop {
      margin-bottom: 40px;
    }
  }
  &__wrapper-list {
    margin-bottom: 50px;
    @include laptop {
      overflow-x: auto;
      margin: 0 -30px 50px -30px;
      padding: 0 30px;
      padding-bottom: 40px;

      &::-webkit-scrollbar-track {
        margin: 0 30px;
      }
    }
    @include laptop-min {
      margin-bottom: 20px;
    }
    @include tablet {
      margin-bottom: 0;
    }
  }
  &__list {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    min-width: 635px;
    gap: 40px;
    row-gap: 30px;
    @include laptop-min {
      gap: 24px;
      row-gap: 20px;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    flex: 0 0 calc(50% - 20px);
    gap: 5px;
  }
  &__item-content {
    flex: 1;
    font-weight: 300;
    font-size: 16px;
  }
  &__item-value {
    font-size: 20px;
  }
  &__btn {
    @include tablet {
      margin: 40px auto 40px auto;
    }
    @include mobile {
      width: 100%;
      margin-left: 15px;
      margin-right: 15px;
    }
  }
  &__gallery {
    display: flex;
    flex-direction: column;
    width: 50%;
    aspect-ratio: 1/1;
    @include laptop-min {
      width: 100%;
      aspect-ratio: auto;
      border-bottom: 1px solid var(--dark);
    }
  }
  &__img {
    display: block;
    width: 100%;
    height: 620px;
    object-fit: cover;
    object-position: bottom;
    @include desktop-big {
      height: 500px;
    }
    @include laptop {
      height: 400px;
    }
    @include laptop-middle {
      height: 340px;
    }
    @include laptop-min {
      height: 500px;
    }
    @include tablet {
      height: 400px;
    }
    @include tablet-min {
      height: 300px;
    }
    @include mobile {
      height: 240px;
    }
  }
  &__gallery-content {
    padding: 70px 90px 70px 90px;
    font-size: 16px;
    font-weight: 300;
    color: black;
    line-height: 32px;
    flex: 1;
    border-left: 1px solid var(--dark);
    @include laptop {
      padding: 50px 30px;
    }
    @include laptop-min {
      flex: none;
    }

    p {
      margin: 0;
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}
