.rating-sect {
  padding-left: 0 !important;
  padding-right: 0 !important;
  @include tablet {
    padding: 40px 0px 50px 0px !important;
  }
  &__container {
    @include width(690px, 30px);
  }
  &__title {
    margin: 0px 0px 90px 0px;
    @include tablet {
      margin-bottom: 50px;
    }
  }
  &__services {
    display: flex;
    flex-wrap: wrap;
    gap: 95px;
    @include laptop {
      gap: 30px;
    }
    @include tablet {
      gap: 24px;
    }
  }
  &__service {
    @include flex-center;
    position: relative;
    flex-direction: column;
    padding: 30px;
    width: 245px;
    height: 345px;
    text-align: center;
    border: 1px solid var(--cloudy);
    @include laptop-middle {
      width: 200px;
    }
    @include tablet {
      height: 230px;
      width: calc(50% - 12px);
    }

    &::before {
      position: absolute;
      content: "";
      inset: 10px;
      border: 1px solid var(--ebb);
      @include tablet {
        border-color: rgba(194, 184, 174, 0.50);
        inset: 6px;
      }
    }
  }
  &__service-value {
    display: block;
    font-size: 64px;
    font-weight: 400;
    line-height: 70px;
    margin-bottom: 7px;
    text-transform: uppercase;
    @include tablet {
      font-size: 43.043px;
      font-weight: 500;
      line-height: 47.078px;
      margin-bottom: 3px;
    }
  }
  &__service-stars {
    @include flex-center;
    gap: 1px;
    margin-bottom: 12px;
    margin-bottom: 8px;
  }
  &__service-star {
    width: 25px;
    height: 25px;
    @include tablet {
      width: 18px;
      height: 18px;
    }
  }
  &__service-reviews {
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
    margin-bottom: 17px;
    @include tablet {
      font-size: 9.416px;
      line-height: 10.761px;
      margin-bottom: 11px;
    }
  }
  &__service-icon {
  }
}
