.sect-descr {
  overflow: hidden;
  padding: 100px 0px;
  &._intro {
    padding: 70px 0px;
  }
  @include tablet {
    padding: 50px 0px;
    &._intro {
      padding: 50px 0px;
    }
  }
  &__title {
    max-width: 1305px;
    text-align: center;
    margin: 0 auto;
    &._full {
      max-width: none;
    }

    @include tablet {
      text-align: start;
    }

    @include tablet-min {
      br {
        display: none;
      }
    }

    @include mobile {
      &._mobile-min {
        font-size: 20px;
        line-height: 34px;
      }
    }
  }
  &__partner-slider {
    opacity: 0.63;
    max-width: 1515px;
    margin: 100px auto 0px auto;
    @include laptop-min {
      margin-top: 70px;
    }
    @include tablet {
      overflow: visible !important;
      margin: 50px 0px 35px 0px;
    }

    .swiper-wrapper {
      align-items: end !important;
    }
    .swiper-slide {
      @media (min-width: 744px) {
        width: fit-content !important;
      }
    }
  }
  &__scrollbar {
    margin: 0;
  }

  .breadcrumbs {
    margin: 0 auto;
    margin: 50px auto 0px auto;
    @include tablet {
      margin: 30px 0px 0px 0px;
    }
  }
}
