.sect-descr {
  padding: 100px 0px;
  &._intro {
    padding: 70px 0px;
  }
  @include tablet {
    padding: 50px 0px;
    &._intro {
      padding: 50px 0px;
    }
  }
  &__title {
    max-width: 1305px;
    text-align: center;
    margin: 0 auto;
      &._full {
        max-width: none;
      }

    @include tablet {
      text-align: start;
    }

    @include mobile {
      br {
        display: none;
      }
    }
  }

  .breadcrumbs {
    margin: 0 auto;
    margin: 50px auto 0px auto;
    @include tablet {
      margin: 30px 0px 0px 0px;      
    }
  }
}