:root {
  --content-width: 1780px;
  --offset-width: 30px;
  --container-width: calc(var(--content-width) + (var(--offset-width) * 2));
}

.container {
  max-width: var(--container-width);
  width: 100%;
  padding: 0 var(--offset-width);
  margin: 0 auto;

  &._big {
    max-width: 1920px;
    padding: 0 24px;
  }
  &._middle {
    max-width: calc(1440px + (var(--offset-width) * 2));
  }
  &._min {
    max-width: calc(1360px + (var(--offset-width) * 2));
  }
  @include tablet {
    padding: 0 15px !important;
  }
}
