@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin hover {
  @media (any-hover: hover) {
    &:hover {
      @content;
    }
  }
  @media (hover: none) {
    &:active {
      @content;
    }
  }
}
@mixin pressed {
  &:active {
    @content;
  }
}

@mixin hidden {
  position: absolute;
  left: -10000px;
  opacity: 0;
  visibility: hidden;
  z-index: -100;
}

@mixin width($maxW, $offset) {
  max-width: calc($maxW + ($offset * 2));
  padding: 0 $offset;
  margin: 0 auto;
  width: 100%;
  @include tablet {
    padding: 0 15px;
  }
}