:root {
  --black: #1e1e1e;

  --sisal: #dbd1c8;

  --dark-m: #3d3329;
  --dark: #4b4036;
  --dark-red: #3f2419;

  --ebb: #edeae9;
  --wafer: #dbcfc3;
  --amber: #d3c3b5;
  --light: #aca095;
  --cloudy: #aea59d;
  --bg: #f1ece9;
  --alto: #d9d9d9;
}
