<section class="sect tab-container" id="about-min">
  <div class="sect__info">
    <div class="sect__info-body">
      <span class="sect-tag sect__tag">| о салоне |</span>
      <h2 class="title title-d sect__title">
        Мы позаботились о том, чтобы каждый посетитель чувствовал <br> себя как дома.
      </h2>
      <div class="sect__tab-nav">
        <button
          data-tab-btn="1"
          data-img="@img/about-min.jpg"
          class="btn-clear sect__tab-btn _active"
        >
          <div class="sect__btn-gallery">
            <img
              src="@img/sect-tab-btn.jpg"
              alt="icon"
              class="sect__btn-icon"
            />
          </div>
          <span class="title">Лаундж-зона</span>
        </button>
        <button
          data-tab-btn="2"
          data-img="@img/clear.jpg"
          class="btn-clear sect__tab-btn"
        >
          <div class="sect__btn-gallery">
            <img
              src="@img/sect-tab-btn.jpg"
              alt="icon"
              class="sect__btn-icon"
            />
          </div>
          <span class="title">бар</span>
        </button>
        <button
          data-tab-btn="3"
          data-img="@img/prices.jpg"
          class="btn-clear sect__tab-btn"
        >
          <div class="sect__btn-gallery">
            <img
              src="@img/sect-tab-btn.jpg"
              alt="icon"
              class="sect__btn-icon"
            />
          </div>
          <span class="title">комфорт</span>
        </button>
      </div>
      <div data-tab="1" class="_open">
        <div class="sect__tab-content">
          <p>
            В нашем салоне красоты мы создали уютную и расслабляющую лаунж-зону,
            где каждый посетитель может насладиться покоем и комфортом. Эта зона
            предназначена для того, чтобы вы могли отдохнуть после процедур
            или просто провести время в приятной атмосфере.
          </p>
        </div>
      </div>
      <div data-tab="2">
        <div class="sect__tab-content">
          <p>
            222222В нашем салоне красоты мы создали уютную и расслабляющую лаунж-зону,
            где каждый посетитель может насладиться покоем и комфортом. Эта зона
            предназначена для того, чтобы вы могли отдохнуть после процедур
            или просто провести время в приятной атмосфере.
          </p>
        </div>
      </div>
      <div data-tab="3">
        <div class="sect__tab-content">
          <p>
            33333333В нашем салоне красоты мы создали уютную и расслабляющую лаунж-зону,
            где каждый посетитель может насладиться покоем и комфортом. Эта зона
            предназначена для того, чтобы вы могли отдохнуть после процедур
            или просто провести время в приятной атмосфере.
          </p>
        </div>
      </div>
      <a href="#" data-da="#about-min,743" class="btn _stroke sect__btn">О салоне</a>
    </div>
  </div>
  <img data-tab-img src="@img/about-min.jpg" alt="image" class="sect__img" />
</section>
