<section class="sect tab-container" id="about-min">
  <img data-tab-img src="@img/clear.jpg" alt="image" class="sect__img _last" />
  <div class="sect__info">
    <div class="sect__info-body">
      <span class="sect-tag sect__tag">| стерилизация |</span>
      <h2 class="title title-d sect__title">
        Все инструменты проходят трёхступенчатый процесс стерилизации, а все
        расходные материалы одноразовые.
      </h2>
      <div class="sect__tab-nav">
        <button
          data-tab-btn="1"
          data-img="@img/clear.jpg"
          class="btn-clear sect__tab-btn _min-mobile _active"
        >
          <div class="sect__btn-gallery">
            <img
              src="@img/sect-tab-btn.jpg"
              alt="icon"
              class="sect__btn-icon"
            />
          </div>
          <span class="title">Механическая очистка</span>
        </button>
        <button
          data-tab-btn="2"
          data-img="@img/about-min.jpg"
          class="btn-clear sect__tab-btn _min-mobile"
        >
          <div class="sect__btn-gallery">
            <img
              src="@img/sect-tab-btn.jpg"
              alt="icon"
              class="sect__btn-icon"
            />
          </div>
          <span class="title">Холодная стерилизация</span>
        </button>
        <button
          data-tab-btn="3"
          data-img="@img/prices.jpg"
          class="btn-clear sect__tab-btn _min-mobile"
        >
          <div class="sect__btn-gallery">
            <img
              src="@img/sect-tab-btn.jpg"
              alt="icon"
              class="sect__btn-icon"
            />
          </div>
          <span class="title">горячая стерилизация</span>
        </button>
      </div>
      <div data-tab="1" class="_open">
        <div class="sect__tab-content">
          <p>
            В процессе маникюра одним из важнейших этапов является механическая
            очистка инструментов. Этот этап включает в себя удаление всех
            механических загрязнений, таких как частички кожи, остатки
            косметических средств и лака.
          </p>
        </div>
      </div>
      <div data-tab="2">
        <div class="sect__tab-content">
          <p>
            222222В нашем салоне красоты мы создали уютную и расслабляющую
            лаунж-зону, где каждый посетитель может насладиться покоем
            и комфортом. Эта зона предназначена для того, чтобы вы могли
            отдохнуть после процедур или просто провести время в приятной
            атмосфере.
          </p>
        </div>
      </div>
      <div data-tab="3">
        <div class="sect__tab-content">
          <p>
            33333333В нашем салоне красоты мы создали уютную и расслабляющую
            лаунж-зону, где каждый посетитель может насладиться покоем
            и комфортом. Эта зона предназначена для того, чтобы вы могли
            отдохнуть после процедур или просто провести время в приятной
            атмосфере.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
