<section class="guarantee">
  <div class="container _middle">
    <span class="sect-tag guarantee__tag">преимущества</span>
    <h2 class="title title-d guarantee__title">
      Мы гарантируем, что вы будете выглядеть ухоженно и красиво.
    </h2>
    <div class="swiper guarantee__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            src="@img/guarantee.svg"
            alt="icon"
            class="guarantee__slide-icon"
          />
          <h5 class="guarantee__slide-title">10 дней гарантии на покрытие</h5>
          <p class="guarantee__slide-content">
            Вы можете обратиться в салон в течение недели, если заметили изъян в
            работе мастера, и исправить его совершенно бесплатно!
          </p>
        </div>
        <div class="swiper-slide">
          <img
            src="@img/offer-up.svg"
            alt="icon"
            class="guarantee__slide-icon"
          />
          <h5 class="guarantee__slide-title">Профессиональные мастера</h5>
          <p class="guarantee__slide-content">
            Опыт работы наших мастеров от 5 до 15 лет, и они всегда повышают
            свою квалификацию. Будьте уверены в результате!
          </p>
        </div>
        <div class="swiper-slide">
          <img
            src="@img/coffee-time.svg"
            alt="icon"
            class="guarantee__slide-icon"
          />
          <h5 class="guarantee__slide-title">Неповторимая атмосфера</h5>
          <p class="guarantee__slide-content">
            В нашей студии вас всегда угостят вкуснейшим ароматным кофе или чаем, а на фоне будет идти хороший фильм.
          </p>
        </div>
      </div>
    </div>
    <div class="slider-nav__scrollbar guarantee__scrollbar"></div>
  </div>
</section>
