<section class="sect-descr _intro">
  <div class="container">
    <h1 class="title title-m sect-descr__title _full">
      Акции в салоне "Madam Coco" позволяют клиентам сэкономить деньги <br> и познакомиться со всеми услугами, предлагаемых мастерами.
    </h1>
    <div class="breadcrumbs">
      <div class="aioseo-breadcrumbs">
        <span class="aioseo-breadcrumb">
          <a href="/" title="Главная">Главная</a>
        </span>
        <span class="aioseo-breadcrumb"> Акции </span>
      </div>
    </div>
  </div>
</section>