<section class="intro-simple _bottom-off">
  <div class="intro-simple__body parent-hidden-text">
    <div class="intro-simple__container">
      <h1 class="title title-m intro-simple__title">
        О студии «Madam coco»
      </h1>
      <div class="breadcrumbs">
        <div class="aioseo-breadcrumbs">
          <span class="aioseo-breadcrumb">
            <a href="/" title="Главная">Главная</a>
          </span>
          <span class="aioseo-breadcrumb"> О компании </span>
        </div>
      </div>
      <div class="intro-simple__content hidden-text">
        <p>
          История студии «Madam COCO» началась в конце октября 2015 года, тогда
          она уже приняла своего первого гостя! Первый салон был расположен по
          адресу ул. Казбекская,15, именно этот салон стал нашим местом силы и
          роста! В 2017 году появился наш второй филиал.
        </p>
        <p>
          В работе мы отдаемся на все 100% и наша главная задача делать людей
          красивыми и дарить радость, ведь для нас важно:
        </p>
        <p>— выполнить работу не просто красиво, но и качественно;</p>
        <p>
          — обеспечить безопасность, поэтому в наших студиях полный контроль
          стерилизации инструментов, все расходные материалы одноразовые;
        </p>
        <p>
          — сделать так, чтобы Вы оставались довольными и возвращались снова!
        </p>
      </div>
      <button class="btn-clear hidden-text-button intro-simple__btn-content">Читать полностью</button>
      <button data-modal-btn="modal-record" class="btn intro-simple__btn _middle">
        Связаться с нами
      </button>
    </div>
  </div>
  <img src="@img/get-stocks.jpg" alt="image" class="intro-simple__img" />
</section>
