<section class="intro-simple _bottom-off">
  <div class="intro-simple__body">
    <div class="intro-simple__container">
      <h1 class="title title-m intro-simple__title">
        Безупречный Маникюр <br />
        в салоне «Madam Coco» <br />
        в краснодаре
      </h1>
      <div class="breadcrumbs">
        <div class="aioseo-breadcrumbs">
          <span class="aioseo-breadcrumb">
            <a href="/" title="Главная">Главная</a>
          </span>
          <span class="aioseo-breadcrumb">
            <a href="/" title="Главная">Услуги</a>
          </span>
          <span class="aioseo-breadcrumb"> Маникюр </span>
        </div>
      </div>
      <div class="intro-simple__content">
        <p>
          Важной частью идеального образа каждой женщины являются ухоженные
          руки. Наша студия маникюра предлагает полный комплекс услуг по
          поддержанию их красоты – от увлажнения и питания кожи до наращивания и
          дизайна ногтей. Посетив наш салон маникюра, вы обретете свой
          собственный стиль и получите удовольствие от профессионального
          обслуживания и результатов процедур. Стоимость маникюра вполне
          доступна, при этом мы гарантируем аккуратное проведение всех
          манипуляций, подбор оригинального декора и длительное сохранение
          эффекта.
        </p>
      </div>
      <button data-modal-btn="modal-record" class="btn intro-simple__btn">
        записаться онлайн
      </button>
    </div>
  </div>
  <img src="@img/service.jpg" alt="image" class="intro-simple__img" />
</section>
