<section class="sect-descr _intro">
  <div class="container">
    <h1 class="title title-m sect-descr__title">
      рассказываем о трендах, акциях и <br />
      специальных предложениях.
    </h1>
    <div class="breadcrumbs">
      <div class="aioseo-breadcrumbs">
        <span class="aioseo-breadcrumb">
          <a href="/" title="Главная">Главная</a>
        </span>
        <span class="aioseo-breadcrumb">
          <a href="/" title="Главная">Новости/Статьи</a>
        </span>
        <span class="aioseo-breadcrumb"> Все о маникюре 2024: виды, техника выполнения и актуальные тренды </span>
      </div>
    </div>
  </div>
</section>
