<section class="new-about">
  <article class="new-about__article">
    <h3 class="title title-m new-about__article-title">Что такое маникюр</h3>
    <div class="new-about__content">
      <p>
        Маникюр представляет собой косметическую манипуляцию, основной целью которой является улучшение внешнего вида ногтей и кожи рук. Его можно делать в салоне красоты у nail-мастера, либо в условиях дома самостоятельно. Чтобы получить желаемый эстетический результат, необходимо:
      </p>
      <ul>
        <li>сделать ванночку для ногтей;</li>
        <li>снять старое декоративное покрытие;</li>
        <li>придать ногтям нужную форму;</li>
        <li>нанести лечебное или лаковое покрытие;</li>
        <li>нанести увлажняющие и питательные средства;</li>
        <li>провести массаж рук.</li>
      </ul>
      <p>
        Перечень действий может варьироваться в зависимости от способа выбранного маникюра и его продолжительности, а также пожеланий клиента.
      </p>
    </div>
  </article>
  <article class="new-about__article">
    <h3 class="title title-m new-about__article-title">Техники маникюра</h3>
    <div class="new-about__content">
      <p>
        Современные салоны красоты предлагают огромное количество услуг по уходу за ногтями, от медицинского маникюра до различных SPA-процедур. Такое разнообразие процедур позволяет удовлетворить потребности самых придирчивых клиентов. Выделают следующие виды маникюра:
      </p>
      <ul>
        <li>классический</li>
        <li>европейский</li>
        <li>аппаратный</li>
        <li>японский</li>
        <li>бразильский</li>
        <li>СПА</li>
        <li>медицинский</li>
        <li>детский</li>
        <li>мужской</li>
      </ul>
    </div>
  </article>
</section>