<section class="sect tab-container" id="popular-price-sect">
  <div class="popular-price">
    <div class="scrollable popular-price__nav">
      <button data-tab-btn="1" data-img="@img/prices.jpg" class="btn-clear popular-price__tab-btn _active">Маникюр</button>
      <button data-tab-btn="2" data-img="@img/clear.jpg" class="btn-clear popular-price__tab-btn">Педикюр</button>
      <button data-tab-btn="3" data-img="@img/about-min.jpg" class="btn-clear popular-price__tab-btn">Brow bar</button>
      <button data-tab-btn="4" data-img="@img/clear.jpg" class="btn-clear popular-price__tab-btn">Все услуги</button>
    </div>
    <div class="popular-price__container">
      <span class="sect-tag popular-price__sect-tag">цены</span>
      <h2 class="title title-d popular-price__title">
        Популярные услуги и цены.
      </h2>
      <div data-tab="1" class="popular-price__wrapper-list scrollbar _open">
        <ul class="list popular-price__list">
          <li class="popular-price__item">
            <span class="popular-price__item-content"
              >Маникюр + укрепление</span
            >
            <span class="title popular-price__item-value">1 500 ₽</span>
          </li>
          <li class="popular-price__item">
            <span class="popular-price__item-content"
              >Маникюр + укрепление</span
            >
            <span class="title popular-price__item-value">1 500 ₽</span>
          </li>
          <li class="popular-price__item">
            <span class="popular-price__item-content"
              >Маникюр + укрепление</span
            >
            <span class="title popular-price__item-value">1 500 ₽</span>
          </li>
          <li class="popular-price__item">
            <span class="popular-price__item-content"
              >Маникюр + укрепление</span
            >
            <span class="title popular-price__item-value">1 500 ₽</span>
          </li>
          <li class="popular-price__item">
            <span class="popular-price__item-content"
              >Маникюр + укрепление</span
            >
            <span class="title popular-price__item-value">1 500 ₽</span>
          </li>
          <li class="popular-price__item">
            <span class="popular-price__item-content"
              >Маникюр + укрепление</span
            >
            <span class="title popular-price__item-value">1 500 ₽</span>
          </li>
          <li class="popular-price__item">
            <span class="popular-price__item-content"
              >Маникюр + укрепление</span
            >
            <span class="title popular-price__item-value">1 500 ₽</span>
          </li>
          <li class="popular-price__item">
            <span class="popular-price__item-content"
              >Маникюр + укрепление</span
            >
            <span class="title popular-price__item-value">1 500 ₽</span>
          </li>
          <li class="popular-price__item">
            <span class="popular-price__item-content"
              >Маникюр + укрепление</span
            >
            <span class="title popular-price__item-value">1 500 ₽</span>
          </li>
          <li class="popular-price__item">
            <span class="popular-price__item-content"
              >Маникюр + укрепление</span
            >
            <span class="title popular-price__item-value">1 500 ₽</span>
          </li>
          <li class="popular-price__item">
            <span class="popular-price__item-content"
              >Маникюр + укрепление</span
            >
            <span class="title popular-price__item-value">1 500 ₽</span>
          </li>
          <li class="popular-price__item">
            <span class="popular-price__item-content"
              >Маникюр + укрепление</span
            >
            <span class="title popular-price__item-value">1 500 ₽</span>
          </li>
          <li class="popular-price__item">
            <span class="popular-price__item-content"
              >Маникюр + укрепление</span
            >
            <span class="title popular-price__item-value">1 500 ₽</span>
          </li>
          <li class="popular-price__item">
            <span class="popular-price__item-content"
              >Маникюр + укрепление</span
            >
            <span class="title popular-price__item-value">1 500 ₽</span>
          </li>
        </ul>
      </div>
      <div data-tab="2" class="popular-price__wrapper-list scrollbar">
        <ul class="list popular-price__list">
          <li class="popular-price__item">
            <span class="popular-price__item-content"
              >Маникюр + укрепление2</span
            >
            <span class="title popular-price__item-value">1 500 ₽</span>
          </li>
          <li class="popular-price__item">
            <span class="popular-price__item-content"
              >Маникюр + укрепление</span
            >
            <span class="title popular-price__item-value">1 500 ₽</span>
          </li>
          <li class="popular-price__item">
            <span class="popular-price__item-content"
              >Маникюр + укрепление</span
            >
            <span class="title popular-price__item-value">1 500 ₽</span>
          </li>
          <li class="popular-price__item">
            <span class="popular-price__item-content"
              >Маникюр + укрепление</span
            >
            <span class="title popular-price__item-value">1 500 ₽</span>
          </li>
          <li class="popular-price__item">
            <span class="popular-price__item-content"
              >Маникюр + укрепление</span
            >
            <span class="title popular-price__item-value">1 500 ₽</span>
          </li>
          <li class="popular-price__item">
            <span class="popular-price__item-content"
              >Маникюр + укрепление</span
            >
            <span class="title popular-price__item-value">1 500 ₽</span>
          </li>
          <li class="popular-price__item">
            <span class="popular-price__item-content"
              >Маникюр + укрепление</span
            >
            <span class="title popular-price__item-value">1 500 ₽</span>
          </li>
          <li class="popular-price__item">
            <span class="popular-price__item-content"
              >Маникюр + укрепление</span
            >
            <span class="title popular-price__item-value">1 500 ₽</span>
          </li>
          <li class="popular-price__item">
            <span class="popular-price__item-content"
              >Маникюр + укрепление</span
            >
            <span class="title popular-price__item-value">1 500 ₽</span>
          </li>
          <li class="popular-price__item">
            <span class="popular-price__item-content"
              >Маникюр + укрепление</span
            >
            <span class="title popular-price__item-value">1 500 ₽</span>
          </li>
          <li class="popular-price__item">
            <span class="popular-price__item-content"
              >Маникюр + укрепление</span
            >
            <span class="title popular-price__item-value">1 500 ₽</span>
          </li>
          <li class="popular-price__item">
            <span class="popular-price__item-content"
              >Маникюр + укрепление</span
            >
            <span class="title popular-price__item-value">1 500 ₽</span>
          </li>
          <li class="popular-price__item">
            <span class="popular-price__item-content"
              >Маникюр + укрепление</span
            >
            <span class="title popular-price__item-value">1 500 ₽</span>
          </li>
          <li class="popular-price__item">
            <span class="popular-price__item-content"
              >Маникюр + укрепление</span
            >
            <span class="title popular-price__item-value">1 500 ₽</span>
          </li>
        </ul>
      </div>
      <div data-tab="3" class="popular-price__wrapper-list scrollbar">
        <ul class="list popular-price__list">
          <li class="popular-price__item">
            <span class="popular-price__item-content"
              >Маникюр + укрепление3</span
            >
            <span class="title popular-price__item-value">1 500 ₽</span>
          </li>
          <li class="popular-price__item">
            <span class="popular-price__item-content"
              >Маникюр + укрепление</span
            >
            <span class="title popular-price__item-value">1 500 ₽</span>
          </li>
          <li class="popular-price__item">
            <span class="popular-price__item-content"
              >Маникюр + укрепление</span
            >
            <span class="title popular-price__item-value">1 500 ₽</span>
          </li>
          <li class="popular-price__item">
            <span class="popular-price__item-content"
              >Маникюр + укрепление</span
            >
            <span class="title popular-price__item-value">1 500 ₽</span>
          </li>
          <li class="popular-price__item">
            <span class="popular-price__item-content"
              >Маникюр + укрепление</span
            >
            <span class="title popular-price__item-value">1 500 ₽</span>
          </li>
          <li class="popular-price__item">
            <span class="popular-price__item-content"
              >Маникюр + укрепление</span
            >
            <span class="title popular-price__item-value">1 500 ₽</span>
          </li>
          <li class="popular-price__item">
            <span class="popular-price__item-content"
              >Маникюр + укрепление</span
            >
            <span class="title popular-price__item-value">1 500 ₽</span>
          </li>
          <li class="popular-price__item">
            <span class="popular-price__item-content"
              >Маникюр + укрепление</span
            >
            <span class="title popular-price__item-value">1 500 ₽</span>
          </li>
          <li class="popular-price__item">
            <span class="popular-price__item-content"
              >Маникюр + укрепление</span
            >
            <span class="title popular-price__item-value">1 500 ₽</span>
          </li>
          <li class="popular-price__item">
            <span class="popular-price__item-content"
              >Маникюр + укрепление</span
            >
            <span class="title popular-price__item-value">1 500 ₽</span>
          </li>
          <li class="popular-price__item">
            <span class="popular-price__item-content"
              >Маникюр + укрепление</span
            >
            <span class="title popular-price__item-value">1 500 ₽</span>
          </li>
          <li class="popular-price__item">
            <span class="popular-price__item-content"
              >Маникюр + укрепление</span
            >
            <span class="title popular-price__item-value">1 500 ₽</span>
          </li>
          <li class="popular-price__item">
            <span class="popular-price__item-content"
              >Маникюр + укрепление</span
            >
            <span class="title popular-price__item-value">1 500 ₽</span>
          </li>
          <li class="popular-price__item">
            <span class="popular-price__item-content"
              >Маникюр + укрепление</span
            >
            <span class="title popular-price__item-value">1 500 ₽</span>
          </li>
        </ul>
      </div>
      <div data-tab="4" class="popular-price__wrapper-list scrollbar">
        <ul class="list popular-price__list">
          <li class="popular-price__item">
            <span class="popular-price__item-content"
              >Маникюр + укрепление4</span
            >
            <span class="title popular-price__item-value">1 500 ₽</span>
          </li>
          <li class="popular-price__item">
            <span class="popular-price__item-content"
              >Маникюр + укрепление</span
            >
            <span class="title popular-price__item-value">1 500 ₽</span>
          </li>
          <li class="popular-price__item">
            <span class="popular-price__item-content"
              >Маникюр + укрепление</span
            >
            <span class="title popular-price__item-value">1 500 ₽</span>
          </li>
          <li class="popular-price__item">
            <span class="popular-price__item-content"
              >Маникюр + укрепление</span
            >
            <span class="title popular-price__item-value">1 500 ₽</span>
          </li>
          <li class="popular-price__item">
            <span class="popular-price__item-content"
              >Маникюр + укрепление</span
            >
            <span class="title popular-price__item-value">1 500 ₽</span>
          </li>
          <li class="popular-price__item">
            <span class="popular-price__item-content"
              >Маникюр + укрепление</span
            >
            <span class="title popular-price__item-value">1 500 ₽</span>
          </li>
          <li class="popular-price__item">
            <span class="popular-price__item-content"
              >Маникюр + укрепление</span
            >
            <span class="title popular-price__item-value">1 500 ₽</span>
          </li>
          <li class="popular-price__item">
            <span class="popular-price__item-content"
              >Маникюр + укрепление</span
            >
            <span class="title popular-price__item-value">1 500 ₽</span>
          </li>
          <li class="popular-price__item">
            <span class="popular-price__item-content"
              >Маникюр + укрепление</span
            >
            <span class="title popular-price__item-value">1 500 ₽</span>
          </li>
          <li class="popular-price__item">
            <span class="popular-price__item-content"
              >Маникюр + укрепление</span
            >
            <span class="title popular-price__item-value">1 500 ₽</span>
          </li>
          <li class="popular-price__item">
            <span class="popular-price__item-content"
              >Маникюр + укрепление</span
            >
            <span class="title popular-price__item-value">1 500 ₽</span>
          </li>
          <li class="popular-price__item">
            <span class="popular-price__item-content"
              >Маникюр + укрепление</span
            >
            <span class="title popular-price__item-value">1 500 ₽</span>
          </li>
          <li class="popular-price__item">
            <span class="popular-price__item-content"
              >Маникюр + укрепление</span
            >
            <span class="title popular-price__item-value">1 500 ₽</span>
          </li>
          <li class="popular-price__item">
            <span class="popular-price__item-content"
              >Маникюр + укрепление</span
            >
            <span class="title popular-price__item-value">1 500 ₽</span>
          </li>
        </ul>
      </div>
      <a href="#" data-da="#popular-price-sect,743" class="btn _stroke popular-price__btn">все услуги и цены</a>
    </div>
  </div>
  <img data-tab-img src="@img/prices.jpg" alt="image" class="sect__img popular-price__img" />
</section>
