<section class="promo-video">
  <a
    href="https://www.youtube.com/watch?v=1rRD9uMF92o&t=25918s"
    data-fancybox
    class="promo-video__link"
  ></a>
  <img src="@img/promo.jpg" alt="image" class="promo-video__bg" />
  <a
    href="https://www.youtube.com/watch?v=1rRD9uMF92o&t=25918s"
    data-fancybox
    class="btn-clear promo-video__btn"
  >
    <div class="promo-video__btn-rect">
      <img src="@img/play.svg" alt="icon" class="promo-video__icon-play" />
    </div>
    <span>Промо-видео о салоне</span>
  </a>
</section>
