<section class="sect">
  <img src="@img/rating.jpg" alt="image" class="sect__img _last" />
  <div class="sect__info rating-sect">
    <div class="rating-sect__container">
      <span class="sect-tag sect__tag">Рейтинг</span>
      <h2 class="title title-d rating-sect__title">
        Оценка нашей работы <br />
        от клиентов на независимых площадках.
      </h2>
      <div class="rating-sect__services">
        <a href="#" target="_blank" class="rating-sect__service">
          <span class="title-f rating-sect__service-value">5.0</span>
          <div class="rating-sect__service-stars">
            <svg class="rating-sect__service-star">
              <use xlink:href='img/icons/icons.svg#icon-star'></use>
            </svg>
            <svg class="rating-sect__service-star">
              <use xlink:href='img/icons/icons.svg#icon-star'></use>
            </svg>
            <svg class="rating-sect__service-star">
              <use xlink:href='img/icons/icons.svg#icon-star'></use>
            </svg>
            <svg class="rating-sect__service-star">
              <use xlink:href='img/icons/icons.svg#icon-star'></use>
            </svg>
            <svg class="rating-sect__service-star">
              <use xlink:href='img/icons/icons.svg#icon-star'></use>
            </svg>
          </div>
          <div class="rating-sect__service-reviews">180 отзывов</div>
          <img src="@img/y-gray.svg" alt="icon" class="rating-sect__service-icon">
        </a>
        <a href="#" target="_blank" class="rating-sect__service">
          <span class="title-f rating-sect__service-value">4.8</span>
          <div class="rating-sect__service-stars">
            <svg class="rating-sect__service-star">
              <use xlink:href='img/icons/icons.svg#icon-star'></use>
            </svg>
            <svg class="rating-sect__service-star">
              <use xlink:href='img/icons/icons.svg#icon-star'></use>
            </svg>
            <svg class="rating-sect__service-star">
              <use xlink:href='img/icons/icons.svg#icon-star'></use>
            </svg>
            <svg class="rating-sect__service-star">
              <use xlink:href='img/icons/icons.svg#icon-star'></use>
            </svg>
            <svg class="rating-sect__service-star">
              <use xlink:href='img/icons/icons.svg#icon-star'></use>
            </svg>
          </div>
          <div class="rating-sect__service-reviews">180 отзывов</div>
          <img src="@img/2g-gray.svg" alt="icon" class="rating-sect__service-icon">
        </a>
      </div>
    </div>
  </div>
</section>