<section class="rec-news">
  <div class="swiper rec-news__slider">
    <div class="swiper-wrapper">
      <a href="#" class="swiper-slide">
        <img src="@img/rec-new.jpg" alt="image" class="rec-news__slide-img" />
        <div class="rec-news__slide-body">
          <h5 class="title title-l rec-news__slide-title">
            Свадебный маникюр 2024-2025: модные тренды и идеи
          </h5>
          <ul class="list rec-news__slide-list">
            <li>10 декабря 2024</li>
            <li>1 000 просмотров</li>
          </ul>
          <p class="rec-news__slide-content">
            Каждая невеста в день своей свадьбы мечтает выглядеть
            сногсшибательно. Именно поэтому особо важно уделить внимание всем
            деталям образа, включая маникюр. 
          </p>
          <div class="rec-news__slide-author">
            <img
              src="@img/new-main-avatar.jpg"
              alt="avatar"
              class="rec-news__author-avatar"
            />
            <div class="rec-news__author-body">
              <span class="rec-news__author-status">Автор статьи</span>
              <h5 class="rec-news__author-name">Кристина Горкунова</h5>
              <p class="rec-news__author-content">
                Основатель и VIP–мастер сети салонов «Madam Coco»
              </p>
            </div>
          </div>
        </div>
      </a>
      <a href="#" class="swiper-slide">
        <img src="@img/rec-new.jpg" alt="image" class="rec-news__slide-img" />
        <div class="rec-news__slide-body">
          <h5 class="title title-l rec-news__slide-title">
            Свадебный маникюр 2024-2025: модные тренды и идеи
          </h5>
          <ul class="list rec-news__slide-list">
            <li>10 декабря 2024</li>
            <li>1 000 просмотров</li>
          </ul>
          <p class="rec-news__slide-content">
            Каждая невеста в день своей свадьбы мечтает выглядеть
            сногсшибательно. Именно поэтому особо важно уделить внимание всем
            деталям образа, включая маникюр. 
          </p>
          <div class="rec-news__slide-author">
            <img
              src="@img/new-main-avatar.jpg"
              alt="avatar"
              class="rec-news__author-avatar"
            />
            <div class="rec-news__author-body">
              <span class="rec-news__author-status">Автор статьи</span>
              <h5 class="rec-news__author-name">Кристина Горкунова</h5>
              <p class="rec-news__author-content">
                Основатель и VIP–мастер сети салонов «Madam Coco»
              </p>
            </div>
          </div>
        </div>
      </a>
      <a href="#" class="swiper-slide">
        <img src="@img/rec-new.jpg" alt="image" class="rec-news__slide-img" />
        <div class="rec-news__slide-body">
          <h5 class="title title-l rec-news__slide-title">
            Свадебный маникюр 2024-2025: модные тренды и идеи
          </h5>
          <ul class="list rec-news__slide-list">
            <li>10 декабря 2024</li>
            <li>1 000 просмотров</li>
          </ul>
          <p class="rec-news__slide-content">
            Каждая невеста в день своей свадьбы мечтает выглядеть
            сногсшибательно. Именно поэтому особо важно уделить внимание всем
            деталям образа, включая маникюр. 
          </p>
          <div class="rec-news__slide-author">
            <img
              src="@img/new-main-avatar.jpg"
              alt="avatar"
              class="rec-news__author-avatar"
            />
            <div class="rec-news__author-body">
              <span class="rec-news__author-status">Автор статьи</span>
              <h5 class="rec-news__author-name">Кристина Горкунова</h5>
              <p class="rec-news__author-content">
                Основатель и VIP–мастер сети салонов «Madam Coco»
              </p>
            </div>
          </div>
        </div>
      </a>
      <a href="#" class="swiper-slide">
        <img src="@img/rec-new.jpg" alt="image" class="rec-news__slide-img" />
        <div class="rec-news__slide-body">
          <h5 class="title title-l rec-news__slide-title">
            Свадебный маникюр 2024-2025: модные тренды и идеи
          </h5>
          <ul class="list rec-news__slide-list">
            <li>10 декабря 2024</li>
            <li>1 000 просмотров</li>
          </ul>
          <p class="rec-news__slide-content">
            Каждая невеста в день своей свадьбы мечтает выглядеть
            сногсшибательно. Именно поэтому особо важно уделить внимание всем
            деталям образа, включая маникюр. 
          </p>
          <div class="rec-news__slide-author">
            <img
              src="@img/new-main-avatar.jpg"
              alt="avatar"
              class="rec-news__author-avatar"
            />
            <div class="rec-news__author-body">
              <span class="rec-news__author-status">Автор статьи</span>
              <h5 class="rec-news__author-name">Кристина Горкунова</h5>
              <p class="rec-news__author-content">
                Основатель и VIP–мастер сети салонов «Madam Coco»
              </p>
            </div>
          </div>
        </div>
      </a>
      <a href="#" class="swiper-slide">
        <img src="@img/rec-new.jpg" alt="image" class="rec-news__slide-img" />
        <div class="rec-news__slide-body">
          <h5 class="title title-l rec-news__slide-title">
            Свадебный маникюр 2024-2025: модные тренды и идеи
          </h5>
          <ul class="list rec-news__slide-list">
            <li>10 декабря 2024</li>
            <li>1 000 просмотров</li>
          </ul>
          <p class="rec-news__slide-content">
            Каждая невеста в день своей свадьбы мечтает выглядеть
            сногсшибательно. Именно поэтому особо важно уделить внимание всем
            деталям образа, включая маникюр. 
          </p>
          <div class="rec-news__slide-author">
            <img
              src="@img/new-main-avatar.jpg"
              alt="avatar"
              class="rec-news__author-avatar"
            />
            <div class="rec-news__author-body">
              <span class="rec-news__author-status">Автор статьи</span>
              <h5 class="rec-news__author-name">Кристина Горкунова</h5>
              <p class="rec-news__author-content">
                Основатель и VIP–мастер сети салонов «Madam Coco»
              </p>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="rec-news__slider-nav">
    <div class="container">
      <div class="slider-nav">
        <div class="slider-nav__scrollbar"></div>
        <button class="btn-clear slider-nav__btn _prev">
          <svg class="slider-nav__arrow">
            <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
          </svg>
          <span>Предыдущая</span>
        </button>
        <button class="btn-clear slider-nav__btn _next">
          <span>Следующая</span>
          <svg class="slider-nav__arrow">
            <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
