<section class="reviews-main tab-container">
  <div class="reviews-main__nav">
    <button data-tab="1" class="btn-clear reviews-main__nav-btn">Маникюр</button>
    <button data-tab="2" class="btn-clear reviews-main__nav-btn">Педикюр</button>
    <button data-tab="3" class="btn-clear reviews-main__nav-btn">Макияж</button>
    <button data-tab="4" class="btn-clear reviews-main__nav-btn">Ресницы</button>
    <button data-tab="5" class="btn-clear reviews-main__nav-btn">Брови</button>
  </div>
  <div class="container">

  </div>
</section>