<section class="services tab-container _bottom-line-mobile">
  <div class="services__nav scrollable">
    <button data-tab-btn="1" class="btn-clear services__nav-btn _active">
      <span class="title services__btn-title">Ногтевой сервис</span>
      <span class="services__btn-content">Любой сложности</span>
    </button>
    <button data-tab-btn="2" class="btn-clear services__nav-btn">
      <span class="title services__btn-title">Бьюти</span>
      <span class="services__btn-content">Новейшие тренды</span>
    </button>
    <button data-tab-btn="3" class="btn-clear services__nav-btn">
      <span class="title services__btn-title">Все услуги</span>
      <span class="services__btn-content">Соверемнные технологии</span>
    </button>
  </div>
  <div class="container">
    <div data-tab="1" class="_open">
      <div class="services__wrapper">
        <a href="#" class="services__item">
          <div class="services__slide-gallery">
            <img
              src="@img/services.jpg"
              alt="image"
              class="services__slide-img"
            />
          </div>
          <h5 class="title services__slide-title">Маникюр</h5>
          <span class="services__slide-price">от 800 ₽</span>
        </a>
        <a href="#" class="services__item">
          <div class="services__slide-gallery">
            <img
              src="@img/services.jpg"
              alt="image"
              class="services__slide-img"
            />
          </div>
          <h5 class="title services__slide-title">Маникюр</h5>
          <span class="services__slide-price">от 800 ₽</span>
        </a>
        <a href="#" class="services__item">
          <div class="services__slide-gallery">
            <img
              src="@img/services.jpg"
              alt="image"
              class="services__slide-img"
            />
          </div>
          <h5 class="title services__slide-title">Маникюр</h5>
          <span class="services__slide-price">от 800 ₽</span>
        </a>
        <a href="#" class="services__item">
          <div class="services__slide-gallery">
            <img
              src="@img/services.jpg"
              alt="image"
              class="services__slide-img"
            />
          </div>
          <h5 class="title services__slide-title">Маникюр</h5>
          <span class="services__slide-price">от 800 ₽</span>
        </a>
        <a href="#" class="services__item">
          <div class="services__slide-gallery">
            <img
              src="@img/services.jpg"
              alt="image"
              class="services__slide-img"
            />
          </div>
          <h5 class="title services__slide-title">Маникюр</h5>
          <span class="services__slide-price">от 800 ₽</span>
        </a>
        <a href="#" class="services__item">
          <div class="services__slide-gallery">
            <img
              src="@img/services.jpg"
              alt="image"
              class="services__slide-img"
            />
          </div>
          <h5 class="title services__slide-title">Маникюр</h5>
          <span class="services__slide-price">от 800 ₽</span>
        </a>
        <a href="#" class="services__item">
          <div class="services__slide-gallery">
            <img
              src="@img/services.jpg"
              alt="image"
              class="services__slide-img"
            />
          </div>
          <h5 class="title services__slide-title">Маникюр</h5>
          <span class="services__slide-price">от 800 ₽</span>
        </a>
        <a href="#" class="services__item">
          <div class="services__slide-gallery">
            <img
              src="@img/services.jpg"
              alt="image"
              class="services__slide-img"
            />
          </div>
          <h5 class="title services__slide-title">Маникюр</h5>
          <span class="services__slide-price">от 800 ₽</span>
        </a>
      </div>
    </div>
    <div data-tab="2">
      <div class="services__wrapper">
        <a href="#" class="services__item">
          <div class="services__slide-gallery">
            <img
              src="@img/services-2.jpg"
              alt="image"
              class="services__slide-img"
            />
          </div>
          <h5 class="title services__slide-title">Маникюр</h5>
          <span class="services__slide-price">от 800 ₽</span>
        </a>
        <a href="#" class="services__item">
          <div class="services__slide-gallery">
            <img
              src="@img/services-2.jpg"
              alt="image"
              class="services__slide-img"
            />
          </div>
          <h5 class="title services__slide-title">Маникюр</h5>
          <span class="services__slide-price">от 800 ₽</span>
        </a>
        <a href="#" class="services__item">
          <div class="services__slide-gallery">
            <img
              src="@img/services-2.jpg"
              alt="image"
              class="services__slide-img"
            />
          </div>
          <h5 class="title services__slide-title">Маникюр</h5>
          <span class="services__slide-price">от 800 ₽</span>
        </a>
        <a href="#" class="services__item">
          <div class="services__slide-gallery">
            <img
              src="@img/services-2.jpg"
              alt="image"
              class="services__slide-img"
            />
          </div>
          <h5 class="title services__slide-title">Маникюр</h5>
          <span class="services__slide-price">от 800 ₽</span>
        </a>
        <a href="#" class="services__item">
          <div class="services__slide-gallery">
            <img
              src="@img/services-2.jpg"
              alt="image"
              class="services__slide-img"
            />
          </div>
          <h5 class="title services__slide-title">Маникюр</h5>
          <span class="services__slide-price">от 800 ₽</span>
        </a>
        <a href="#" class="services__item">
          <div class="services__slide-gallery">
            <img
              src="@img/services-2.jpg"
              alt="image"
              class="services__slide-img"
            />
          </div>
          <h5 class="title services__slide-title">Маникюр</h5>
          <span class="services__slide-price">от 800 ₽</span>
        </a>
        <a href="#" class="services__item">
          <div class="services__slide-gallery">
            <img
              src="@img/services-2.jpg"
              alt="image"
              class="services__slide-img"
            />
          </div>
          <h5 class="title services__slide-title">Маникюр</h5>
          <span class="services__slide-price">от 800 ₽</span>
        </a>
        <a href="#" class="services__item">
          <div class="services__slide-gallery">
            <img
              src="@img/services-2.jpg"
              alt="image"
              class="services__slide-img"
            />
          </div>
          <h5 class="title services__slide-title">Маникюр</h5>
          <span class="services__slide-price">от 800 ₽</span>
        </a>
      </div>
    </div>
    <div data-tab="3">
      <div class="services__wrapper">
        <a href="#" class="services__item">
          <div class="services__slide-gallery">
            <img
              src="@img/services-3.jpg"
              alt="image"
              class="services__slide-img"
            />
          </div>
          <h5 class="title services__slide-title">Маникюр</h5>
          <span class="services__slide-price">от 800 ₽</span>
        </a>
        <a href="#" class="services__item">
          <div class="services__slide-gallery">
            <img
              src="@img/services-3.jpg"
              alt="image"
              class="services__slide-img"
            />
          </div>
          <h5 class="title services__slide-title">Маникюр</h5>
          <span class="services__slide-price">от 800 ₽</span>
        </a>
        <a href="#" class="services__item">
          <div class="services__slide-gallery">
            <img
              src="@img/services-3.jpg"
              alt="image"
              class="services__slide-img"
            />
          </div>
          <h5 class="title services__slide-title">Маникюр</h5>
          <span class="services__slide-price">от 800 ₽</span>
        </a>
        <a href="#" class="services__item">
          <div class="services__slide-gallery">
            <img
              src="@img/services-3.jpg"
              alt="image"
              class="services__slide-img"
            />
          </div>
          <h5 class="title services__slide-title">Маникюр</h5>
          <span class="services__slide-price">от 800 ₽</span>
        </a>
        <a href="#" class="services__item">
          <div class="services__slide-gallery">
            <img
              src="@img/services-3.jpg"
              alt="image"
              class="services__slide-img"
            />
          </div>
          <h5 class="title services__slide-title">Маникюр</h5>
          <span class="services__slide-price">от 800 ₽</span>
        </a>
        <a href="#" class="services__item">
          <div class="services__slide-gallery">
            <img
              src="@img/services-3.jpg"
              alt="image"
              class="services__slide-img"
            />
          </div>
          <h5 class="title services__slide-title">Маникюр</h5>
          <span class="services__slide-price">от 800 ₽</span>
        </a>
        <a href="#" class="services__item">
          <div class="services__slide-gallery">
            <img
              src="@img/services-3.jpg"
              alt="image"
              class="services__slide-img"
            />
          </div>
          <h5 class="title services__slide-title">Маникюр</h5>
          <span class="services__slide-price">от 800 ₽</span>
        </a>
        <a href="#" class="services__item">
          <div class="services__slide-gallery">
            <img
              src="@img/services-3.jpg"
              alt="image"
              class="services__slide-img"
            />
          </div>
          <h5 class="title services__slide-title">Маникюр</h5>
          <span class="services__slide-price">от 800 ₽</span>
        </a>
      </div>
    </div>
  </div>
</section>
