.breadcrumbs {
  width: fit-content;
  margin-bottom: 70px;
  font-size: 14px;
  font-weight: 300;
  @include laptop-middle {
    margin-bottom: 30px;
  }

  a {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-right: 20px;
    transition: opacity .2s ease;
    @include hover {
      opacity: 0.5;
    }

    &::after {
      position: absolute;
      content: "";
      height: 1px;
      width: 15px;
      right: 0;
      opacity: 0.5;
      background-color: currentColor;
    }
  }
}
.aioseo-breadcrumbs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}