.btn-clear {
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 0;
  padding: 0;
  font-weight: inherit;
  color: inherit;
}

.btn {
  @include flex-center;
  cursor: pointer;
  text-align: center;
  padding: 5px 70px;
  min-height: 63px;
  border: 1px solid transparent;

  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--dark);
  transition:
    color 0.2s ease,
    border-color 0.2s ease,
    background-color 0.2s ease;

  &._light {
    background-color: var(--sisal);
    border-color: var(--sisal);
    @include hover {
      border-color: var(--light);
      background-color: white;
    }
    @include pressed {
      background-color: transparent;
    }
  }
  &._stroke {
    background-color: transparent;
    border-color: var(--light);
    @include hover {
      background-color: var(--dark);
      border-color: var(--dark);
      color: white;
    }
    @include pressed {
      background-color: var(--light);
      border-color: var(--light);
      color: white;
    }
  }
}
