.wrapper-input {
  position: relative;
  display: flex;
  align-items: center;

  &._big {
    .just-validate-error-label {
      top: 10px;
      @include tablet {
        top: auto;
        bottom: 20px;
      }
    }
  }
}
.input {
  background-color: transparent;
  border: none;
  border-radius: 0px;
  outline: none;
  width: 100%;
  padding: 13px 35px 13px 0px;
  border-bottom: 1px solid rgba(75, 64, 54, 0.32);

  font-size: 18px;
  line-height: 36px;
  font-weight: 300;

  &::placeholder {
    color: var(--dark);
  }

  &.just-validate-success-field {
    background: url("@img/check.svg") center right 8px / 24px auto no-repeat;
  }

  &._big {
    resize: none;
    min-height: 150px;
    background-position: top 10px right 8px;
  }
}

.just-validate-error-label {
  position: absolute;
  right: 10px;
  color: var(--dark);
  padding-right: 33px;
  background: url("@img/close.svg") center right / 24px auto no-repeat;

  font-size: 18px;
  font-weight: 300;
  line-height: 36px;

  @include tablet {
    font-size: 16px;
    line-height: normal;
  }
}

.input-file {
  display: none;
}
.label-file {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 17px;
  padding: 11px 0px;
  border-bottom: 1px solid rgba(75, 64, 54, 0.32);
  &__rect {
    @include flex-center;
    width: 40px;
    height: 40px;
    background-color: var(--dark);
    color: var(--wafer);
  }
  &__rect-icon {
    width: 20px;
    height: 20px;
  }
  &__title {
    font-size: 18px;
    line-height: 36px;
    flex: 1;
    transition: opacity 0.2s ease;
    @include hiddenText(1);
    @include hover {
      opacity: 0.5;
    }
  }
  &__btn {
    @include flex-center;
    width: 40px;
    height: 40px;
    border: 1px solid var(--dark);
    transition: background-color .2s ease, color .2s ease;
    @include hover {
      color: var(--wafer);
      background-color: var(--dark);
    }
  }
  &__icon-plus {
    width: 17px;
    height: 17px;
  }
}
