.wrapper-input {
  position: relative;
  display: flex;
  align-items: center;
}
.input {
  background-color: transparent;
  border: none;
  border-radius: 0px;
  outline: none;
  width: 100%;
  padding: 13px 35px 13px 0px;
  border-bottom: 1px solid rgba(75, 64, 54, 0.32);

  font-size: 18px;
  line-height: 36px;
  font-weight: 300;

  &::placeholder {
    color: var(--dark);
  }

  &.just-validate-success-field {
    background: url('@img/check.svg') center right 8px / 24px auto no-repeat;
  }

  &._big {
    resize: none;
    min-height: 150px;
    background-position: top 10px right 8px;
  }

}

.just-validate-error-label {
  position: absolute;
  right: 10px;
  color: var(--dark);
  padding-right: 33px;
  background: url('@img/close.svg') center right / 24px auto no-repeat;

  font-size: 18px;
  font-weight: 300;
  line-height: 36px;

  @include tablet {
    font-size: 16px;
    line-height: normal;
  }
}