.modal {
  --bg-overlay: rgba(32, 27, 23, 0.7);
  --bg-overlay-hide: rgba(32, 27, 23, 0);
  &._open {
    .modal__overlay,
    .modal__window {
      opacity: 1;
      z-index: 1000;
    }
    .modal__overlay {
      background-color: var(--bg-overlay);
      overflow-y: auto;
    }
    .modal__window {
      transform: translateY(0);
    }
  }
  &._hide {
    .modal__overlay,
    .modal__window {
      opacity: 1;
      z-index: 1000;
    }
    .modal__overlay {
      background-color: var(--bg-overlay-hide);
    }
    .modal__window {
      opacity: 0;
    }
  }
  &__overlay,
  &__window {
    opacity: 0;
    z-index: -10;
  }
  &__overlay {
    position: fixed;
    display: flex;
    justify-content: center;
    overflow-y: auto;
    inset: 0;
    background-color: var(--bg-overlay);
    transition: background-color 0.5s ease;
    &::-webkit-scrollbar {
      height: 0;
      width: 0;
      display: none;
    }
  }
  &__window {
    position: relative;
    transform: translateY(25px);
    opacity: 0;
    height: fit-content;
    width: 925px;
    max-width: calc(100% - 32px);
    margin-top: 50px;
    padding: 55px;
    background-color: var(--bg);
    transition:
      transform 0.5s ease,
      opacity 0.5s ease;
    @include tablet {
      padding: 32px 20px 20px 20px;
    }
  }
  &__close {
    @include flex-center;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 50px;
    height: 50px;
    border: 1px solid var(--light);
    transition:
      color 0.2s ease,
      background-color 0.2s ease,
      border-color 0.2s ease;
    @include hover {
      border-color: var(--dark);
      background-color: var(--dark);
      color: white;
    }
    @include pressed {
      border-color: var(--light);
      background-color: var(--light);
    }
    @include tablet {
      width: 36px;
      height: 36px;
      top: 22px;
      right: 22px;
    }
  }
  &__close-icon {
    width: 18px;
    height: 18px;
    @include tablet {
      width: 12px;
      height: 12px;
    }
  }
  &__title {
    font-size: 64px;
    line-height: 40px;
    margin: 0px 0px 45px 0px;
    @include laptop-min {
      font-size: 48px;
    }
    @include tablet {
      font-size: 25px;
      line-height: 16px;
      margin-bottom: 40px;
    }
  }
}
