.nav {
  display: flex;
  gap: 95px;
  padding: 30px 20px;
  border-bottom: 1px solid var(--dark);
  @include laptop-min {
    gap: 50px;
  }
  @include tablet {
    gap: 30px;
    padding: 23px 16px;
  }
  &__btn {
    font-size: 32px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    color: var(--light);
    transition: color 0.2s ease;
    @include hover {
      color: var(--dark);
    }
    &._active {
      color: var(--dark);
    }

    &:first-child {
      margin-left: auto;
    }
    &:last-child {
      margin-right: auto;
    }
    @include tablet {
      font-size: 18px;
      line-height: 11px;
    }
  }
}