@font-face {
	font-family: CormorantSC;
	font-display: swap;
	src: url("../fonts/CormorantSC-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: CormorantInfant;
	font-display: swap;
	src: url("../fonts/CormorantInfant-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: CormorantInfant;
	font-display: swap;
	src: url("../fonts/CormorantInfant-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: CormorantSC;
	font-display: swap;
	src: url("../fonts/CormorantSC-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: CormorantSC;
	font-display: swap;
	src: url("../fonts/CormorantSC-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: Mont;
	font-display: swap;
	src: url("../fonts/Mont-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: CormorantSC;
	font-display: swap;
	src: url("../fonts/CormorantSC-SemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: Mont;
	font-display: swap;
	src: url("../fonts/Mont-ExtraLight.woff2") format("woff2");
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: Mont;
	font-display: swap;
	src: url("../fonts/Mont-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
